.Profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    margin: 100px 0;
    gap: 60px;
}

.ProfileInfoTop{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 320px;
    justify-content: space-between;
    margin-bottom: 50px;
}

.ProfileAvatar{
    width: 300px;
    height: 300px;
    max-width: 302px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.ProfileAvatarImg{
    width: 300px;
    height: 300px;
}

.ProfileData{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 400px;
}

.ProfileDataTitle{
    width: 80%;
}

.ProfileDataTitle > h1 {
    text-align: center;
    font-size: 55px;
    color: white;
    margin: 0;
}

.ProfileDataContent{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 80%;
    align-items: center;
}

.ProfileDataContentTop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 50px;
}

.ProfileDataContentBottom{
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: space-between;
    width: 100%;
}

.ProfileDataContentID{
    color: white;
    text-align: start;
    font-size: 35px;
    margin: 0
}
.ProfileDataContentStatus{
    color: white;
    text-align: end;
    font-size: 35px;
    margin: 0
}
.ProfileDataContentRank{
    color: white;
    text-align: start;
    font-size: 35px;
    margin: 0
}
.ProfileDataContentPoints{
    color: white;
    text-align: end;
    font-size: 35px;
    margin: 0
}

.ProfileDataEditBtn{
    background-color: #B76935;
    padding: 5px 15px;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    width: fit-content;
    font-family: 'Kanit';
    transition: all 0.3s ease;
}

.ProfileDataEditBtn:hover{
    background-color: #F98702;
    transform: scale(1.1);
    cursor: pointer;
}

.ProfileInfoBottom{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.ProfileInfoBottomTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.ProfileInfoBottomTitle>h3{
    font-size: 30px;
    color: white;
    width: 200px;
    margin: 0;
}

.ProfileInfoBottomData{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    background-color: #31313C;
    border-radius: 15px;
    padding: 5px 3px;
}

.ProfileInfoBottomData>h3{
    font-size: 30px;
    color: white;
    width: 200px;
    margin: 0;
}