.ListContainer{
    background-color: #202224;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

.List{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 60vw;
}

.ListPageButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
    padding: 10px 0;
}

.ListPageButtonsNumbers{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.ListPageButtonActive{
    background-color: #FCA311;
    font-family: 'Kanit';
    font-size: 15px;
    min-width: 32px;
    max-width: 32px;
    border-radius: 3px;
}
.ListPageButtonActive:hover{
    cursor: pointer;
}

.ListPageButton{
    background-color: #31313C;
    font-family: 'Kanit';
    font-size: 15px;
    min-width: 32px;
    max-width: 32px;
    border-radius: 3px;
    color: white;
    transition: 0.3s ease;
}
.ListPageButton:hover{
    cursor: pointer;
    background-color: #FCA311;
    transform: scale(1.1);
    color: black;
}

.ListPageButtonDisabled{
    background-color: #0b0b0bc0;
    font-family: 'Kanit';
    color: #505058;
    border-radius: 3px;
    border-width: 2px;
    border-style:solid;
    border-color: #31313c;
    border-image: initial;
    font-size: 15px;
    min-width: 32px;
    max-width: 32px;
}
.ListPageButtonDisabled:hover{
    cursor: not-allowed;
}

.ListPageSearchFilter{
    padding: 5px 30px;
    width: 80%;
    background-color: #31313C;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    justify-content: space-between;
}
.ListPageSearchForm{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.ListPageSearch{
    background-color: #31313C;
    border: none;
    outline: none;
    font-family: 'Kanit';
    font-size: 16px;
    width: 80%;
    color:white;
}
.ListPageSearch:focus-visible{
    border: none;
    outline: none;
}

.ListPageSearchSubmit{
    background-color: transparent;
    border: none;
    justify-content: center;
    align-items: center;
    display: flex;
}
.ListPageSearchSubmit:hover{
    cursor: pointer;
}

.ListPageSearchIcon{
    color: white;
    background-color: transparent;
}

.ListPageSearchHr{
    font-size: 2px;
    margin: 0 5px 0 10px;
    border: none;
    background-color: white;
}

.ListPageFilterSelect{
    background-color: #31313C;
    font-family: 'Kanit';
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 3px 5px;
    width: 100px;
    outline: none;
}
.ListPageFilterSelect:focus{
    outline: none;
}
.ListPageFilterSelect:hover{
    cursor: pointer;
}

.ListRanking{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ListRankingTitle{
    display: flex;
    flex-direction: row;
    padding: 0px 0px 10px 0px;
    width: 94%;
    gap: 30px;
}

.ListRankingTitleFirst{
    min-width: 160px;
    width: 18%;
    max-width: 18%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ListRankingTitleSecondSub{
    display: flex;
    flex-direction: row;
    width: 190px;
    justify-content: space-between;
}

.ListRankingTitleSecond{
    width: 83%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ListRankingTitleText {
    color: white;
    font-size: 20px;
    cursor: default;
    text-align: start;
    min-width: 60px
}

.ListRankingSortButtonSelected{
    color: #FCA311;
    font-size: 17px;
    padding: 0 3px;
}
.ListRankingSortButton{
    font-size: 17px;
    padding: 0 3px;
}

.ListRankingSortButton:hover, .ListRankingSortButtonSelected:hover{
    cursor: pointer;
    color: #CD7F32;
    transition-delay: 0.2s;
    transition: 0.5s;
}

.ListCustomerEven{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #31313C;
    padding: 5px 25px;
    gap: 40px;
}

.ListCustomerOdd{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #0c0f118e;
    padding: 5px 25px;
    gap: 40px;
}

.ListCustomerFirst{
    min-width: 125px;
    width: 18%;
    max-width: 18%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ListCustomerRank{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ListCustomerRank > span {
    color: white;
    font-size: 18px;
    cursor: default;
    text-shadow: 1px black;
}

.ListCustomerAvatar{
    width: 40px;
    height: 40px;
}

.ListCustomerSecond{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.ListCustomerData{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 170px;
}

.ListCustomerPoints{
    color: white;
    cursor: default;
    font-size: 18px
}

.ListCustomerNickname{
    color: white;
    font-size: 18px;
    cursor: default;
    text-decoration: none;
}
.ListCustomerNickname:hover{
    color: #FCA311;
    transform: scale(1.1);
    transition: 0.5s ease;
    cursor: pointer;
}

.ListCustomerStatusRuby{
    color: #a70505;
    cursor: default;
    font-size: 18px
}
.ListCustomerStatusDiamond{
    color: #3B729E;
    cursor: default;
    font-size: 18px 
}
.ListCustomerStatusPlatinum{
    cursor: default;
    color: #8FBABA;
    font-size: 18px   
}
.ListCustomerStatusGold{
    color: #FCA311;
    cursor: default;
    font-size: 18px   
}
.ListCustomerStatusSilver{
    cursor: default;
    color:#D9D9D9;
    font-size: 18px  
}
.ListCustomerStatusBronze{
    cursor: default;
    color: #CD7F32;
    font-size: 18px   
}
.ListCustomerStatusCopper{
    color: #CB6D51;
    cursor: default;
    font-size: 18px   
}
