.Hof{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 60vw;
}


.HofContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.HofTopGrey{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #31313C;
    padding: 10px 25px;
    gap: 40px;
}

.HofTopDark{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #0c0f118e;
    padding: 10px 25px;
    gap: 40px;
}

.HofTopTitles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 25px 10px 25px;
    width: 90%;
    gap: 35px;
}

.HofTopUserData{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

.HofTopTitles > div > span, .HofTopSecondDiv > div > span  {
    color: white;
    font-size: 20px
}

.HofTopFirstDiv{
    max-width: 125px;
    min-width: 125px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.HofTopUserTitle{
    width: 50%;
    min-width: 50%;
    max-width: 50%;
    text-align: start;
}

.HofTopSecondDiv{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.HofTopImageCont{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

.HofTopTextCont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}


.HofTopImg{
    width: 40px;
    height: 40px;
}

.HofTopAvatar{
    width: 50px;
    height: 50px;
}

.HofTopNicknameDiv{
    width: 50%;
    min-width: 50%;
    max-width: 50%;
    text-align: start;
}

.HofTopNickname{
    color: white;
    font-size: 18px;
    text-decoration: none;    
}

.HofTopData{
    display: flex;
    flex-direction: row;
    min-width: 50%;
    max-width: 50%;
    justify-content: space-between;
}

.HofTopIdDiv{
    min-width: 25px;
    text-align: start;
}

.HofTopId, .HofTopPoints{
    color: white;
    font-size: 20px;
}

.HofTopStatusRuby{
    color: #a70505;
    font-size: 20px;
}
.HofTopStatusDiamond{
    color: #3B729E;
    font-size: 20px;
}
.HofTopStatusPlatinum{
    color: #8FBABA;
    font-size: 20px;
}
.HofTopStatusGold{
    color: #FCA311;
    font-size: 20px;
}
.HofTopStatusSilver{
    color: #D9D9D9;
    font-size: 20px;
}
.HofTopStatusBronze{
    color: #CD7F32;
    font-size: 20px;
}
.HofTopStatusCopper{
    color: #CB6D51;
    font-size: 20px;
}