.Login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* border: 1px solid white; */
    border-radius: 10px;
    box-shadow: 0px 0px 10px 7px #31313C; 
}

.LoginOr{
    font-size: 20px;
    color: #A7A7A7;
    margin-top: 12px;
}

.LoginInputUsername{
    background-color: #31313C;
    border: none;
    border-radius: 15px;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 25px;
    color:white;
    margin-top: 12px;
}

.LoginInputPassword{
    background-color: #31313C;
    border: none;
    border-radius: 15px;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 25px;
    color:white;
    margin-top: 12px;
}

.LoginSubmit{
    background-color: #09461A;
    color: white;
    padding: 10px 25px;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    margin-top: 15px;
}

.LoginSubmit:hover{
    cursor: pointer;
    background-color: #087125;
    transition-delay: 0.2s;
    transition: 0.8s;
    transform: scale(1.1);
}

.LoginGoogle{
    background-color: white;
    color: black;
    font-size: 25px;
    padding: 5px 15px;
    border-radius: 15px;
    margin-top: 15px;
}

.LoginGoogle:hover{
    cursor: pointer;
    transition-delay: 0.2s;
    transition: 0.8s;
    transform: scale(1.1);
}

.LoginClose:hover{
    cursor: pointer;
    color: #CB156A;
    transition-delay: 0.2s;
    transition: 0.8s;
    transform: scale(1.1);

}

.LoginClose {
    width: 40px;
    height: 40px;
    color: #9d0208;
    position: absolute;
    left: 5%;
    top: 5%;
}

.LoginDivClose {
    display: flex;
    margin-bottom: 5%;
    
}
.LoginForm{
    display: flex;
    flex-direction: column;
}