.Header{
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #0C0F11;
    width: 100%;
}
.HeaderButtonDiv{
    width: 160px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.HeaderButton{
    text-decoration: none;
    font-size: 20px;
    color: white;
    transition: all 0.3s ease;
    border: solid 2px transparent;
}

.HeaderButton:hover{
    transform: scale(1.1);
    color: #F8B406;
    cursor: pointer;
}

.HeaderButtonSelected{
    text-decoration: none;
    font-size: 20px;
    color: white;
    transition: all 0.3s ease;
    border-bottom: solid 3px #F8B406;
}

.HeaderModalLogin {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #19191d;
    border-radius: 15px;
    width: 30%;
    height: auto;

}

.HeaderShadow{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0c0f11e8;
}
