.Register{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.RegisterForm{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.RegisterForm > input {
    color:white;
    font-family: 'Kanit';
    font-size: 20px;
    width: 400px;
    border-radius: 15px;
    border: none;
    padding: 7px 12px;
    background-color: #31313C;
}

.RegisterForm > input::placeholder {
    color: rgba(255, 255, 255, 0.61);
}

.RegisterSelect{
    color:white;
    font-family: 'Kanit';
    font-size: 20px;
    border-radius: 15px;
    border: none;
    padding: 7px 12px;
    background-color: #31313C;
    width: 100%;
    cursor: pointer;
}

/* .RegisterSelect option{
    background-image: url('../../images/avatar1.png');
    padding: 100px 0;
    -webkit-appearance: none; 
    font-weight: 400;
    display: flex;
    white-space: nowrap;
    min-height: 30px; */
    /* background-position: initial;
    appearance: none;
    -moz-appearance: none;
    */
    /* background-color: black;
    background-size: 48px 48px;
    background-repeat:no-repeat; 
}
*/

.ButtonSubmit{
    width: 10rem;
    height: auto;
    text-decoration: none;
    background-color: #0C0F11;
    color: white;
    padding: 15px 25px;
    font-size: 20px;
    text-align: center;
    text-justify: center;
    border: none;
    border-radius: 25px;
    transition: all 0.3s ease;
    margin-top: 25px;
    margin-bottom: 50px;
}
.ButtonSubmit:hover{
    border: none;
    background-color: #F8B406;
    color: #0C0F11;
    transition-delay: 0.2s;
    transition: 0.8s;
    transform: scale(1.1);
    cursor: pointer;
}
.ErrorText {
    color: #9d0208;
    font-size: 20px;
    margin: 0px;
    text-shadow: 1px 1px black;
}
.inputUser {
    margin-bottom: 10px;
}