.Dashboard{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 20px 0;
}

.DashboardContainer{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
}

.DashboardButton{
    font-size: 30px;
    font-family: 'Kanit';
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
}

.DashboardButtonDelete{
    background-color: #a02a2a;
    padding: 5px 15px;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    width: fit-content;
    font-family: 'Kanit';
    transition: all 0.4s ease;
}
.DashboardButtonDelete:hover{
    background-color: #bd0808;
    transform: scale(1.1);
    cursor: pointer;
}

.DashboardButtonCreate{
    background-color: #09461A;
    padding: 5px 15px;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    width: fit-content;
    font-family: 'Kanit';
    transition: all 0.4s ease;
}

.DashboardButtonCreate:hover{
    background-color: #087125;
    transform: scale(1.1);
    cursor: pointer;
}

.DashboardButtonPassword{
    background-color: #B76935;
    padding: 5px 15px;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    width: fit-content;
    font-family: 'Kanit';
    transition: all 0.4s ease;
}
.DashboardButtonPassword:hover{
    background-color: #F98702;
    transform: scale(1.1);
    cursor: pointer;
}

.DashboardButtonAvatars{
    background-color: #173468;
    padding: 5px 15px;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    width: fit-content;
    font-family: 'Kanit';
    transition: all 0.4s ease;
}
.DashboardButtonAvatars:hover{
    background-color: #0545b3;
    transform: scale(1.1);
    cursor: pointer;
}

.DashboardTab{
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.DashboardForm{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.DashboardFormInput{
    color:white;
    font-family: 'Kanit';
    font-size: 20px;
    width: 400px;
    border-radius: 15px;
    border: none;
    padding: 7px 12px;
    background-color: #31313C;
}

.DashboardFormSubmitPassword{
    background-color: #0C0F11;
    padding: 5px 15px;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    width: fit-content;
    font-family: 'Kanit';
    transition: all 0.4s ease;
}
.DashboardFormSubmitPassword:hover{
    border: none;
    background-color: #F98702;
    transition-delay: 0.2s;
    transition: 0.5s;
    transform: scale(1.1);
    cursor: pointer;
}

.DashboardFormSubmitCreate{
    background-color: #0C0F11;
    padding: 5px 15px;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    width: fit-content;
    font-family: 'Kanit';
    transition: all 0.4s ease;
}
.DashboardFormSubmitCreate:hover{
    border: none;
    background-color: #087125;
    transition-delay: 0.2s;
    transition: 0.5s;
    transform: scale(1.1);
    cursor: pointer;
}

.DashboardFormSubmitDelete{
    background-color: #a02a2a;
    padding: 5px 15px;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    width: fit-content;
    font-family: 'Kanit';
    transition: all 0.4s ease;
}
.DashboardFormSubmitDelete:hover{
    border: none;
    background-color: #bd0808;
    transition-delay: 0.2s;
    transition: 0.5s;
    transform: scale(1.1);
    cursor: pointer;
}

.DashboardDelete{
    margin: 30px 0;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.DashboardUserEven{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #31313C;
    padding: 10px 25px;
    gap: 40px;
}

.DashboardUserOdd{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #0c0f118e;
    padding: 10px 25px;
    gap: 40px;
}

.DashboardUserData{
    font-size: 20px;
    color: white;
}

.DashboardAvatar{
    margin: 30px 0;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.DashboardFormInputFileDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.DashboardFormInputFileLabel{
    color:white;
    cursor:default;
    font-family: 'Kanit';
    width: auto;
    font-size: 18px;
    border-radius: 15px;
    border: none;
    padding: 10px 20px;
    background-color: #31313C;   
    transition-delay: 0.2s;
    transition: 0.5s; 
}
.DashboardFormInputFileLabel:hover, .DashboardFormInputFileLabelUploaded:hover{
    transition-delay: 0.2s;
    transition: 0.5s;
    cursor: pointer;
    transform: scale(1.1);
    background-color: #ffffff; 
    color: #0C0F11;   
}

.DashboardFormInputFile{
    visibility: hidden;
}

.DashboardFormAvatarSubmit{
    color:white;
    font-family: 'Kanit';
    font-size: 18px;
    border-radius: 15px;
    border: none;
    padding: 7px 15px;
    background-color: #0C0F11;
    transition-delay: 0.2s;
    transition: 0.5s;
}

.DashboardFormAvatarSubmit:hover{
    background-color: #0545b3;
    transition-delay: 0.2s;
    transition: 0.5s;
    transform: scale(1.1);
    cursor: pointer;
}

.DashboardFormAvatarSubmitDisabled{
    color:white;
    font-family: 'Kanit';
    font-size: 18px;
    border-radius: 15px;
    border: none;
    padding: 7px 15px;
    background-color: #494949;
}
.DashboardFormAvatarSubmitDisabled:hover{
    cursor: not-allowed;
}

.DashboardFormInputFileLabelUploaded{
    color:white;
    cursor:default;
    font-family: 'Kanit';
    width: auto;
    font-size: 18px;
    border-radius: 15px;
    border: none;
    padding: 10px 20px;
    background-color: #087125;   
    transition-delay: 0.2s;
    transition: 0.5s; 

}
