.Login{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    /* border: 1px solid white; */
    border-radius: 10px;
    box-shadow: 0px 0px 10px 7px #31313C; 
    width: auto;
    min-width: 650px;
}

.LoginInputEmail{
    background-color: #31313C;
    border: none;
    border-radius: 15px;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 25px;
    color:white;
    width: 70%;
}

.LoginInputPassword{
    background-color: #31313C;
    border: none;
    border-radius: 15px;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 25px;
    color:white;
    margin-top: 15px;
    width: 70%;
}

.LoginSubmit{
    background-color: #09461A;
    color: white;
    padding: 10px 25px;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    margin-top: 45px;
    width: fit-content;
    margin-bottom: 25px;

}

.LoginSubmit:hover{
    cursor: pointer;
    background-color: #087125;
    transition-delay: 0.2s;
    transition: 0.8s;
    transform: scale(1.1);
}

.LoginGoogle:hover{
    cursor: pointer;
    transition-delay: 0.2s;
    transition: 0.8s;
    transform: scale(1.1);
}

.LoginClose:hover{
    cursor: pointer;
    color: #CB156A;
    transition-delay: 0.2s;
    transition: 0.8s;
    transform: scale(1.1);

}

.LoginClose {
    width: 40px;
    height: 40px;
    color: #9d0208;
    position: absolute;
    left: 3%;
    top: 3%;
}

 .LoginDivClose {
    display: flex;
    width: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    
} 
.LoginForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.LoginModalLogo {
    max-height: 180px;

}